body, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}


.slide-animation {
  transform: translateX(0) !important;
  opacity: 1 !important;
}


